# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/.gradle/
*/.gradle/
/build/

# VSCode
.vscode

# PyCharm
.idea

# iOS
.DS_Store

# Python
__pycache__
.venv
.pytest_cache
.coverage*
.python-version
build/
dist/
*.egg*
