name: Lint with pylint
on:
  push:
    branches:
      - "main"
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest_httpserver requests==2.32.5 pylint==2.17.5 python-dateutil==2.9.0 pint==0.21 importlib-metadata==6.7.0 jsonschema==4.19.0 pika==1.3.1 pyproj==3.7.2 numpy==1.26.4 shapely==2.1.2 netcdf4==1.7.4 h5netcdf==1.8.1 pillow==10.2.0 python-logging-rabbitmq==2.3.0

      - name: Checkout idss-engine-commons
        uses: actions/checkout@v3
        with:
          repository: NOAA-GSL/idss-engine-commons
          path: commons/

      # - name: Install IDSSE python commons
      #   working-directory: commons/python/idsse_common
      #   run: pip install .

      - name: Checkout idsse-testing
        uses: actions/checkout@v3
        with:
          repository: NOAA-GSL/idsse-testing
          ref: main
          path: testing/

      - name: Install IDSSE python testing
        working-directory: testing/python
        run: pip install .

      - name: Set PYTHONPATH for pylint
        run: |
          echo "PYTHONPATH=python/idsse_common/idsse/common" >> $GITHUB_ENV

      - name: Run code linter
        run: pylint ./python/idsse_common --max-line-length=100 --recursive true

      - name: Run black formatter
        uses: psf/black@stable
        with:
          options: "--check --line-length 99" # effectively 100, but black formatter has a bug
          src: "./python"
